/Client
ddraw.log
TS.LOG
version_u
spawn.ini
spawnmap.ini
TSE.ini
mpstats.txt
/MIX/Movies01.mix
/MIX/Movies02.mix
/MIX/Movies03.mix
/MIX/SCORES.MIX
/MIX/SCORES01.MIX
/Map Editor/FinalTSE.ini
ddraw.dll
ddraw.ini